# Dependencies / build
node_modules/
.next/
out/
dist/
npm-debug.log*

# Env files (локальные и приватные)
.env
.env.local
.env.*.local

/lib/generated/prisma

# Windows ADS tails
*:[Zz]one.[Ii]dentifier

# TS incremental build
*.tsbuildinfo

# Local Prisma DB (do not commit)
prisma/dev.db
